<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Skylabs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Skylabs.Properties.Settings>
            <setting name="currevision" serializeAs="String">
                <value>2.0.0.0</value>
            </setting>
            <setting name="RootFolder" serializeAs="String">
                <value>/var/oserver2.0</value>
            </setting>
        </Skylabs.Properties.Settings>
    </userSettings>
</configuration>
